<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Photon" type="Photon.SocketServer.Diagnostics.Configuration.PhotonSettings, Photon.SocketServer"/>
  </configSections>

  <Photon>
    <CounterPublisher
      senderType="CounterPublisher.Azure.ApplicationInsights.AgentSettings, CounterPublisher.Azure"
      enabled="true"
      addDefaultAppCounter="true"
      updateInterval="10">
      <Sender 
        protocol="CounterPublisher.Azure.ApplicationInsights.AgentWriter, CounterPublisher.Azure"

        initialDelay="10"
        sendInterval="10"
        maxQueueLength="120"
        maxRetryCount="-1"

        senderId="{#Region#}.{#Cluster#}.{0}"
        instrumentationKey = "{#InstrumentationKey#}" />
    </CounterPublisher>
  </Photon>
</configuration>